{% extends "sidebar.html" %}

{% block content %}
<div>      
    <div>
        <div class = "div-heading">All Posts</div>

        {% for item in data %}

            <div class = "all-posts">
                <div><b>{{item.branch}}</b> <br><span class = "batch">BATCH {{item.batch}} </br></span></div>
                <div class = "content">{{item.postContent}}</div>
                <div class="content">{{item.categorizeContent}}</div>
                <div ><a href="{% url 'fullPost' %}?pid={{item.pid}}&uid={{uid}}&branch={{item.branch}}&batch={{item.batch}}">Comment</a></div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
